.chat {
  display: flex;
  height: 100vh;
  position: relative;

  &__userPanel {
    background: #323232;
    width: 40rem;
    color: white;
    position: relative;
    h1 {
      padding: 2rem;
      font-size: 2.5rem;
    }
    &__users {
      list-style: none;
      li {
        font-size: 2rem;
        background: #272727;
        padding: 2rem;

        &:nth-child(even) {
          background: #323232;
        }
      }
    }

    &__exit {
      border: none;
      background: none;
      color: #e74c3c;
      border: 3px solid #e74c3c;
      width: 20rem;
      height: 4rem;
      position: absolute;
      bottom: 0;
      transform: translate(-50%, -50%);
      left: 50%;
      font-size: 1.5rem;
      outline: none;

      &:hover,
      &:focus {
        cursor: pointer;
        border: none;
        background: #e74c3c;
        color: white;
      }
    }
  }

  &__chatPanel {
    position: relative;
    width: 100%;
    &__chat {
      list-style: none;
      overflow: auto;
      height: calc(100% - 6rem);
    }

    &__bottom-bar {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;

      &__input {
        height: 6rem;
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        outline: none;

        &:focus {
          border: 1px solid #595959;
          padding: 1.1rem;
        }
      }

      &__button {
        outline: none;
        border: none;
        height: 6rem;
        width: 10rem;
        background: #e74c3c;
        color: white;
        font-size: 2rem;

        &:focus,
        &:hover {
          background: darken(#e74c3c, 10%);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .chat {
    &__userPanel {
      display: none;
    }

    &__chat {
      height: calc(100% - 12rem);
    }

    &__chatPanel {
      &__bottom-bar {
        display: block;
        &__button {
          width: 100%;
        }
      }
    }
  }
}
