.home {
  background: #1d2534;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .footer {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
  }
}
