.message {
  padding: 2rem;
  font-size: 2rem;
  position: relative;

  &__from {
    padding-bottom: 0.5rem;
  }

  &__createdAt {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    right: 1rem;
  }

  &__body {
    overflow: hidden;
    width: 75rem;
  }

  &:nth-child(even) {
    background: #f8fbff;
  }
}
